@model RentHive.Models.UserDataGetter
@{
    ViewData["Title"] = "Rented Goods";
}
<script>
    $(document).ready(function () {
        var notificationType = '@ViewBag.Noti_Type';
        var notificationMessage = '@ViewBag.Noti_Message';

        if (notificationType && notificationMessage) {
            toastr[notificationType](notificationMessage);
        }
    });
</script>
<div class="home-index">
    <div class="side-nav">
        <div class="user">
            @* <a href="@Url.Action("Profile", "UserManagement",new { TempuserId = Model.Acc_id})"> *@
            <img src="~/images/logo2.png" class="user-img" />
            @* </a> *@
            @* <div class="user-name">
            <h2>@Model.Acc_DisplayName</h2>
            <p>@Model.Acc_UserType</p>
            </div> *@
        </div>

        <ul class="menu-list">
            <li class="menu-item">
                <img class="menu-icon" src="~/images/dashboard.png" /><a class="menu-text" onclick="location.href='@Url.Action("Index", "Home", new {Acc_id = ViewBag.Acc_Id})'">Home</a>
            </li>
            <li class="menu-item">
                <img class="menu-icon" src="~/images/group.png" /><a class="menu-text" onclick="location.href='@Url.Action("HiveUserList", "SystemManagement", new {Acc_id = ViewBag.Acc_id,Acc_FirstName = ViewBag.Acc_FirstName, Acc_MiddleName = ViewBag.Acc_MiddleName, Acc_LastName = ViewBag.Acc_LastName
        , Acc_DisplayName = ViewBag.Acc_DisplayName, Acc_UserType = ViewBag.Acc_UserType})'">User List</a>
            </li>
        </ul>

        <ul class="menu-list">
            <li class="menu-item"><img class="menu-icon" src="~/images/logout.png" /><a href="#popup" class="menu-text">Logout</a></li>
        </ul>
    </div>
    <button class="close-button" onclick="location.href='@Url.Action("HiveUserPayment", "SystemManagement", new {Acc_id = ViewBag.Acc_Id, userId = ViewBag.userId})'"><img class="close-icon" src="~/images/close.png"></button>

    <div class="hive-title-holder">
        <h1>Transaction Information</h1>
    </div>

    <div class="details-border-holder">
        <div class="details-holder">
            <h3>Rented Details</h3>
            <div class="acc-details-content">
                <div class="col1">
                    <p>Transaction Id: @ViewBag.Trans_id</p>
                    <p>About : @ViewBag.About</p>
                    <p>Paymend Mode: @ViewBag.PaymentMode </p>
                    <p>Payment About : @ViewBag.PaymentAmount</p>
                    <p>AdvDeposit : @ViewBag.AdvDeposit</p>
                </div>
                <div class="col2">
                    <p>Delivery : @ViewBag.Deliver</p>
                    <p>Transaction Details : @ViewBag.TransDetails</p>
                    <p>Date : @ViewBag.TransDate</p>
                    <p>Status: @ViewBag.Status</p>
                </div>
            </div>
        </div>
    </div>
    <div class"printdiv">
        <button onclick="printReport()" class="printbtn">Print</button>
    </div>
</div>

<div id="PrintFile" class="action-button">
    <div style="padding: 20px; width: 100%;">
        <div class="view-container">
            <img src="~/images/logo2.png" class="user-img" /><h3>RENTHIVE</h3>
            <br />
            <h5>Account name : @ViewBag.Acc_FirstName @ViewBag.Acc_MiddleName @ViewBag.Acc_LastName</h5>
            <p>Date: @ViewBag.CurrentDate &nbsp&nbsp; Time: @ViewBag.CurrentTime</p>

            <h2>Rented Details</h2>
            <div class="acc-details-content">
                <div class="col1">
                    <p>Transaction Id: @ViewBag.Trans_id</p>
                    <p>About : @ViewBag.About</p>
                    <p>Paymend Mode: @ViewBag.PaymentMode </p>
                    <p>Payment About : @ViewBag.PaymentAmount</p>
                    <p>AdvDeposit : @ViewBag.AdvDeposit</p>
                </div>
                <div class="col2">
                    <p>Delivery : @ViewBag.Deliver</p>
                    <p>Transaction Details : @ViewBag.TransDetails</p>
                    <p>Date : @ViewBag.TransDate</p>
                    <p>Status: @ViewBag.Status</p>
                </div>
            </div>

            <div class="author">File created by: @ViewBag.Temp_FirstName @ViewBag.Temp_MiddleName @ViewBag.Temp_LastName</div>
        </div>
    </div>
</div>

<div id="popup" class="action-button">
    <div class="border2">
        <h1>Log Out?</h1>
        <div class="message">
            <h4 style="color: white">Are you sure you want to log out?</h4>
        </div>
        <form method="post" action="@Url.Action("Logout", "UserManagement")">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="#" class="btn btn-primary">No</a>
        </form>
    </div>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.ErrorMessage");
        }
    </script>
}<script>
     window.onpopstate = function () {
         location.reload(); // Refresh the page when the back button is clicked
     };
</script>
