@model RentHive.Models.UserDataGetter
@{
    ViewData["Title"] = "Post Informations";
}
<script>
    $(document).ready(function () {
        var notificationType = '@ViewBag.Noti_Type';
        var notificationMessage = '@ViewBag.Noti_Message';

        if (notificationType && notificationMessage) {
            toastr[notificationType](notificationMessage);
        }
    });
</script>
<div class="home-index">
    <div class="side-nav">
        <div class="user">
            @* <a href="@Url.Action("Profile", "UserManagement",new { TempuserId = Model.Acc_id})"> *@
            <img src="~/images/logo2.png" class="user-img" />
            @* </a> *@
            @* <div class="user-name">
            <h2>@Model.Acc_DisplayName</h2>
            <p>@Model.Acc_UserType</p>
            </div> *@
        </div>

        <ul class="menu-list">
            <li class="menu-item">
                <img class="menu-icon" src="~/images/dashboard.png" /><a class="menu-text" onclick="location.href='@Url.Action("Index", "Home", new {Acc_id = ViewBag.Acc_id})'">Home</a>
            </li>
            <li class="menu-item">
                <img class="menu-icon" src="~/images/group.png" /><a class="menu-text" onclick="location.href='@Url.Action("HiveUserList", "SystemManagement", new {Acc_id = ViewBag.Acc_id})'">User List</a>
            </li>
        </ul>

        <ul class="menu-list">
            <li class="menu-item"><img class="menu-icon" src="~/images/logout.png" /><a href="#popup" class="menu-text">Logout</a></li>
        </ul>
    </div>
    <button class="close-button" onclick="location.href='@Url.Action("ListOfPost", "PostMonitoring", new {Acc_id = ViewBag.Acc_id, userId = ViewBag.userId})'"><img class="close-icon" src="~/images/close.png"></button>

    <div class="hive-title-holder">
        <h1>User Post Information</h1>
    </div>

    <div class="details-border-holder">
        <div class="details-holder">
            <h3>Post Information</h3>
            <div class="acc-details-content">
                <div class="col1">
                    <p>Post ID :@Model.Post_id</p>
                    <p>Rent Period : @Model.Post_RentPeriod</p>
                    <p>Terms : @Model.Post_Term</p>
                    <p>Availability Date : @Model.Post_Calendar</p>
                    <p>Status : @Model.Post_Status</p>
                </div>
                <div class="col2">
                    <p>Active : @Model.Post_Active</p>
                    <p>Price : @Model.Post_Price</p>
                    <p>Deposit : @Model.Post_AdvDeposit</p>
                    <p>Date Posted : @Model.Post_DatePosted</p>
                </div>
            </div>
            <div><hr /></div>
            <div class="acc-details-content">
                <div class="col1">
                    <p>@* Rental *@ Location: @Model.Rental_Location</p>
                    <p>@* Rental *@ Details: @Model.Rental_Details</p>
                    <p>@* Rental *@ Size: @Model.Rental_Size</p>
                    <p>@* Rental *@ Category: @Model.Rental_Category</p>
                    <p>@* Rental *@ Specification: @Model.Rental_Specification</p>
                    <p>@* Rental *@ Amenities: @Model.Rental_Amenities</p>
                </div>
                <div class="col2">
                    <p>@* Rental *@ Limit: @Model.Rental_Limit</p>
                    <p>@* Rental *@ Conditions: @Model.Rental_Conditions</p>
                    <p>@* Rental *@ Amount: @Model.Rental_Amount</p>
                    <p>Rental Tag: @Model.Rental_Tag</p>
                    <p>Rental Type: @Model.Rental_Type</p>
                </div>
            </div>
        </div>
        <div class="details-holder" style="display: flex; ">
            <div style="width: 50%;">
                <h3>Deactivate this post</h3>
                @if (Model.Post_Active == 1)
                {
                    //if status is active (1) and want to deactivate(0)
                    <form method="post" action="@Url.Action("StatusChecker", new { userId =  ViewBag.userId, Post_id = Model.Post_id,Acc_id = ViewBag.Acc_id})">
                        <button class="user-log-btn" type="submit" name="NumHolder" value="1">Dectivate</button>
                    </form>
                }
                else
                {
                    //else if status is deactivate (0) and want to make it activate(1)
                    <form method="post" action="@Url.Action("StatusChecker", new { userId =  ViewBag.userId, Post_id = Model.Post_id,Acc_id = ViewBag.Acc_id})">
                        <button class="user-log-btn" type="submit" name="NumHolder" value="2">Activate</button>
                    </form>
                }
            </div>
            <div style="width: 50%;">
                <form method="post" action="@Url.Action("ListOfRenters", new { Post_id = Model.Post_id, userId = ViewBag.userId, Acc_id = ViewBag.Acc_id})">
                    <button class="user-log-btn" style="text-align: right;" type="submit">Show Renters</button>
                </form>
            </div>
        </div>
        <div class"printdiv">
            <button onclick="printReport()" class="printbtn">Print</button>
        </div>

        <div id="PrintFile" class="action-button">
            <div style="padding: 20px; width: 100%;">
                <div class="view-container">
                    <img src="~/images/logo2.png" class="user-img" /><h3>RENTHIVE</h3>
                    <br />
                    <h5>Account name : @ViewBag.Acc_FirstName @ViewBag.Acc_MiddleName @ViewBag.Acc_LastName</h5>
                    <p>Date: @ViewBag.CurrentDate &nbsp&nbsp; Time: @ViewBag.CurrentTime</p>

                    <h2>Post Information</h2>
                    <div class="acc-details-content">
                        <div class="col1">
                            <p>Post ID :@Model.Post_id</p>
                            <p>Rent Period : @Model.Post_RentPeriod</p>
                            <p>Terms : @Model.Post_Term</p>
                            <p>Availability Date : @Model.Post_Calendar</p>
                            <p>Status : @Model.Post_Status</p>
                        </div>
                        <div class="col2">
                            <p>Active : @Model.Post_Active</p>
                            <p>Price : @Model.Post_Price</p>
                            <p>Deposit : @Model.Post_AdvDeposit</p>
                            <p>Date Posted : @Model.Post_DatePosted</p>
                        </div>
                    </div>
                    <div class="acc-details-content">
                        <div class="col1">
                            <p>@* Rental *@ Location: @Model.Rental_Location</p>
                            <p>@* Rental *@ Details: @Model.Rental_Details</p>
                            <p>@* Rental *@ Size: @Model.Rental_Size</p>
                            <p>@* Rental *@ Category: @Model.Rental_Category</p>
                            <p>@* Rental *@ Specification: @Model.Rental_Specification</p>
                            <p>@* Rental *@ Amenities: @Model.Rental_Amenities</p>
                        </div>
                        <div class="col2">
                            <p>@* Rental *@ Limit: @Model.Rental_Limit</p>
                            <p>@* Rental *@ Conditions: @Model.Rental_Conditions</p>
                            <p>@* Rental *@ Amount: @Model.Rental_Amount</p>
                            <p>Rental Tag: @Model.Rental_Tag</p>
                            <p>Rental Type: @Model.Rental_Type</p>
                        </div>
                    </div>
                    <div class="author">File created by: @ViewBag.Temp_FirstName @ViewBag.Temp_MiddleName @ViewBag.Temp_LastName</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup" class="action-button">
    <div class="border2">
        <h1>Log Out?</h1>
        <div class="message">
            <h4 style="color: white">Are you sure you want to log out?</h4>
        </div>
        <form method="post" action="@Url.Action("Logout", "UserManagement")">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="#" class="btn btn-primary">No</a>
        </form>
    </div>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.ErrorMessage");
        }
    </script>
}<script>
     window.onpopstate = function () {
         location.reload(); // Refresh the page when the back button is clicked
     };
</script>
